@page "/trucks/filter/{truckMake}"
@using CarLot.Models
@inject CarLot.Data.TruckService truckService

@foreach (var filterTruck in Truck)
{
    <h1>@filterTruck.Make</h1>
    <h1>@filterTruck.Price</h1>
}



@code {
    public List<Truck> Truck { get; set; } = new List<Truck>();
    [Parameter]
    public string truckMake { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Truck = await truckService.GetTruckByMakes(truckMake);
    }
}
