$purple: #3a0647;
$blue: #2767F3;
$light-blue: #BFD3FF;
$black: #000;
$green: #93A533;
$darker-green: #84942D;
$gray: #808080;
$dark-gray: #596580;
$white: #fff;

$heading-font: 'Proza Libre', sans-serif;
$text-font: 'Open Sans', sans-serif;