$purple: #3a0647;
$blue: #2767F3;
$light-blue: #BFD3FF;
$black: #000;
$green: #27F3B2;
$gray: #808080;
$dark-gray: #596580;


$heading-font: 'Proza Libre', sans-serif;
$text-font: 'Open Sans', sans-serif;