$purple: #3a0647;
$light-purple: #A416B4;
$purple-btn: #A400B4;
$background-purple: #250858;
$blue: #2767F3;
$light-blue: #BFD3FF;
$black: #000;
$green: #93A533;
$darker-green: #84942D;
$gray: #808080;
$dark-gray: #596580;
$lightest-gray: #e8e8e8;
$white: #fff;
$link-blue: #0366d6;
$light-black: #4D4D4D;

$heading-font: 'Proza Libre', sans-serif;
$text-font: 'Open Sans', sans-serif;