@import '../styles/Global.scss';

body {
    app {
        div.main {
            div.content.px-4 {
                div.row {
                    div.col {
                        div.next-match-hero {
                            position: relative;
                            text-align: center;

                            img {
                                width: 100%;
                                height: 400px;
                            }

                            h1 {
                                position: absolute;
                                top: 8px;
                                left: 16px;
                                color: $white;
                                font-family: $heading-font;
                                font-size: 3.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
