body app div.main div.content.px-4 div.row div.col div.next-match-hero {
  position: relative;
  text-align: center; }
  body app div.main div.content.px-4 div.row div.col div.next-match-hero img {
    width: 100%;
    height: 400px; }
  body app div.main div.content.px-4 div.row div.col div.next-match-hero h1 {
    position: absolute;
    top: 8px;
    left: 16px;
    color: #fff;
    font-family: "Proza Libre", sans-serif;
    font-size: 3.5rem; }
