@import '../styles/Global.scss';

body {
    app {
        div.sidebar {
            div.top-row.pl-4.navbar.navbar-dark {
                a.navbar-brand {
                    font-family: $heading-font;
                }
            }

            div.collapse {
                ul.nav.flex-column {
                    font-family: $heading-font;

                    li.nav-item.px-3 {
                        a.nav-link {
                            i.material-icons {
                                margin-right: 5%;
                            }
                        }
                    }
                }
            }
        }
    }
}