body app div.sidebar div.top-row.pl-4.navbar.navbar-dark a.navbar-brand {
  font-family: "Proza Libre", sans-serif; }

body app div.sidebar div.collapse ul.nav.flex-column {
  font-family: "Proza Libre", sans-serif; }
  body app div.sidebar div.collapse ul.nav.flex-column li.nav-item.px-3 a.nav-link i.material-icons {
    margin-right: 5%; }
  body app div.sidebar div.collapse ul.nav.flex-column li.nav-item.px-3 form.form-inline {
    padding: 7%;
    color: #fff; }
    body app div.sidebar div.collapse ul.nav.flex-column li.nav-item.px-3 form.form-inline button.nav-link.btn.btn-link {
      font-family: "Proza Libre", sans-serif;
      color: #fff; }
      body app div.sidebar div.collapse ul.nav.flex-column li.nav-item.px-3 form.form-inline button.nav-link.btn.btn-link i.material-icons {
        color: #fff; }
