@page "/suvs/filter/{suvMake}"
@using CarLot.Models
@inject CarLot.Data.SUVService suvService

@foreach (var filterSUV in SUV)
{
    <h1>@filterSUV.Make</h1>
    <h1>@filterSUV.Price</h1>
}



@code {
    public List<SUV> SUV { get; set; } = new List<SUV>();
    [Parameter]
    public string suvMake { get; set; }

    protected async override Task OnInitializedAsync()
    {
        SUV = await suvService.GetSUVByMakes(suvMake);
    }
}
