body app div.main div.content.px-4 img {
  margin-right: 30%;
  margin-left: 32%; }

body app div.main div.content.px-4 div.row div.col {
  margin-top: 5%; }
  body app div.main div.content.px-4 div.row div.col a i.material-icons {
    color: #808080; }

body app div.main div.content.px-4 div.row div#busList.col {
  justify-content: space-evenly;
  display: flex;
  margin-right: 42%;
  margin-top: 5%;
  margin-left: 15%;
  margin-bottom: 10%; }
  body app div.main div.content.px-4 div.row div#busList.col div a img {
    width: 100px;
    height: 100px; }

body app div.main div.content.px-4 div.row div.col-7 img {
  width: 500px;
  height: 425px;
  margin-left: 5%; }

body app div.main div.content.px-4 div.row div.col-7 span#price {
  font-weight: bold;
  color: #000;
  font-size: 30px; }

body app div.main div.content.px-4 div.row div.col-7 span.card-text {
  margin: 0px 0.8rem 0.4rem 0px;
  background-color: #2767F3;
  font-size: 0.8rem;
  color: #fff;
  padding: 0px 6px; }

body app div.main div.content.px-4 div.row div.col-7 div.card-body a {
  color: #2767F3; }
  body app div.main div.content.px-4 div.row div.col-7 div.card-body a i.material-icons {
    margin-top: 2.5%;
    color: #2767F3; }

body app div.main div.content.px-4 div.row div.col-7 div.card-body i.material-icons {
  margin-top: 2.5%;
  color: #2767F3; }
  body app div.main div.content.px-4 div.row div.col-7 div.card-body i.material-icons a {
    color: #2767F3; }

body app div.main div.content.px-4 div.row div.col-7 div.card-body h2 {
  color: #000;
  font-weight: bold;
  margin-top: 2.5%;
  margin-bottom: 2.5%; }

body app div.main div.content.px-4 div.row div.col-7 div.card-body a {
  color: #2767F3; }

body app div.main div.content.px-4 div.row div.col-7 h5 {
  font-family: "Proza Libre", sans-serif;
  color: #000;
  margin-top: 2.5%; }

body app div.main div.content.px-4 div.row div.col-7 div.sellers-notes h4 {
  color: #000;
  font-family: "Proza Libre", sans-serif; }

body app div.main div.content.px-4 div.row div.col-7 div.sellers-notes p {
  color: #000;
  font-family: "Open Sans", sans-serif; }

body app div.main div.content.px-4 div.row div.col-7 div.sellers-notes a {
  color: #2767F3;
  font-family: "Open Sans", sans-serif; }

body app div.main div.content.px-4 div.row div.col-7 div.sellers-notes h2 {
  color: #000;
  font-family: "Proza Libre", sans-serif; }

body app div.main div.content.px-4 div.row div.col-7 div.sellers-notes div.row div.col {
  margin-top: 5%; }
  body app div.main div.content.px-4 div.row div.col-7 div.sellers-notes div.row div.col p#interest {
    margin-top: 20%; }
  body app div.main div.content.px-4 div.row div.col-7 div.sellers-notes div.row div.col a.btn.btn-block {
    background-color: #A416B4;
    border-color: #A416B4;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    margin-top: 5%; }
    body app div.main div.content.px-4 div.row div.col-7 div.sellers-notes div.row div.col a.btn.btn-block:hover {
      color: #fff;
      border-color: #3a0647;
      background-color: #3a0647;
      font-family: "Open Sans", sans-serif; }
  body app div.main div.content.px-4 div.row div.col-7 div.sellers-notes div.row div.col ul {
    color: #000;
    font-family: "Open Sans", sans-serif; }

body app div.main div.content.px-4 div.row div.col-5 button#edit-btn {
  margin-bottom: 5% !important; }

body app div.main div.content.px-4 div.row div.col-5 button#delete-btn {
  margin-bottom: 5% !important; }

body app div.main div.content.px-4 div.row div.col-5 div.card div.card-header h3 {
  color: #000;
  font-weight: bold;
  font-family: "Proza Libre", sans-serif; }

body app div.main div.content.px-4 div.row div.col-5 div.card div.card-header h5.card-text {
  color: #000;
  font-family: "Open Sans", sans-serif; }

body app div.main div.content.px-4 div.row div.col-5 div.card div.card-body {
  background-color: #e8e8e8; }
  body app div.main div.content.px-4 div.row div.col-5 div.card div.card-body form a.btn.btn-block {
    background-color: #A416B4;
    border-color: #A416B4;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 5%; }
  body app div.main div.content.px-4 div.row div.col-5 div.card div.card-body p.card-text {
    color: #000;
    font-family: "Open Sans", sans-serif; }
  body app div.main div.content.px-4 div.row div.col-5 div.card div.card-body div {
    font-size: 12px; }
    body app div.main div.content.px-4 div.row div.col-5 div.card div.card-body div p.card-text {
      color: #000;
      font-family: "Open Sans", sans-serif; }
    body app div.main div.content.px-4 div.row div.col-5 div.card div.card-body div a.card-text {
      color: #808080;
      font-family: "Open Sans", sans-serif; }
