div button#add-bus-btn {
  margin-bottom: 5%; }

div#ad-1 img {
  width: 50%;
  display: block;
  margin: 0 auto; }

h1#buses-for-sale {
  font-family: "Proza Libre", sans-serif;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  padding-top: 2%;
  padding-bottom: 2%; }

div#not-auth p {
  display: flex;
  color: #000;
  font-style: "Open Sans", sans-serif; }
  div#not-auth p a.nav-link {
    padding: 0 0.2rem;
    color: #0366d6; }
    div#not-auth p a.nav-link:hover {
      color: #000; }

div.row div#filter-col.col {
  max-width: 30%; }
  div.row div#filter-col.col nav {
    margin-bottom: 10%; }
    div.row div#filter-col.col nav div#nav-tab.nav.nav-tabs a {
      color: #000;
      font-family: "Open Sans", sans-serif; }
  div.row div#filter-col.col div#nav-tabContent.tab-content div#nav-text.tab-pane.fade.active.show a#back-to.btn {
    color: #A416B4;
    border-color: #A416B4;
    margin-left: 20%;
    margin-bottom: 5%; }
    div.row div#filter-col.col div#nav-tabContent.tab-content div#nav-text.tab-pane.fade.active.show a#back-to.btn:hover {
      color: #fff;
      background-color: #A416B4;
      border-color: #A416B4; }
  div.row div#filter-col.col div#nav-tabContent.tab-content div#nav-text.tab-pane.fade.active.show div.form-group a.btn {
    color: #A416B4;
    border-color: #A416B4;
    margin-left: 2.5%; }
    div.row div#filter-col.col div#nav-tabContent.tab-content div#nav-text.tab-pane.fade.active.show div.form-group a.btn:hover {
      color: #fff;
      background-color: #A416B4;
      border-color: #A416B4; }
  div.row div#filter-col.col div#nav-tabContent.tab-content div#nav-dropdown.tab-pane.fade.active.show form div.row div.col a.btn {
    color: #A416B4;
    border-color: #A416B4; }
    div.row div#filter-col.col div#nav-tabContent.tab-content div#nav-dropdown.tab-pane.fade.active.show form div.row div.col a.btn:hover {
      color: #fff;
      background-color: #A416B4;
      border-color: #A416B4; }
  div.row div#filter-col.col div#nav-tabContent.tab-content div#nav-dropdown.tab-pane.fade.active.show form div.row div.col div {
    display: block;
    margin-bottom: 5%; }
    div.row div#filter-col.col div#nav-tabContent.tab-content div#nav-dropdown.tab-pane.fade.active.show form div.row div.col div span#filter-count {
      color: #000;
      font-family: "Open Sans", sans-serif;
      font-weight: 800; }
    div.row div#filter-col.col div#nav-tabContent.tab-content div#nav-dropdown.tab-pane.fade.active.show form div.row div.col div span#filter-results {
      color: #000;
      font-family: "Open Sans", sans-serif; }
  div.row div#filter-col.col div#nav-tabContent.tab-content div#nav-dropdown.tab-pane.fade.active.show form div.row div.col div.form-group {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding: 5%;
    margin-bottom: 10%; }
    div.row div#filter-col.col div#nav-tabContent.tab-content div#nav-dropdown.tab-pane.fade.active.show form div.row div.col div.form-group label {
      color: #000;
      font-family: "Open Sans", sans-serif; }

div.row div#listing-col.col {
  max-width: 70%; }
  div.row div#listing-col.col div.card {
    margin-bottom: 2.5%; }
    div.row div#listing-col.col div.card:hover {
      box-shadow: 3px 3px 3px 0 #808080; }
    div.row div#listing-col.col div.card div.col-md-5 {
      height: inherit; }
      div.row div#listing-col.col div.card div.col-md-5 img.card-img {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        width: 100%;
        height: 100%; }
    div.row div#listing-col.col div.card div.col-md-7 div.card-body div#isNew p.card-text {
      color: #808080;
      font-family: "Open Sans", sans-serif;
      margin-bottom: 1.5%;
      font-size: .8rem; }
    div.row div#listing-col.col div.card div.col-md-7 div.card-body h5.card-title {
      color: #000;
      font-family: "Proza Libre", sans-serif;
      font-weight: bold;
      margin-bottom: 5%; }
    div.row div#listing-col.col div.card div.col-md-7 div.card-body p#mileage.card-text {
      color: #808080;
      font-family: "Open Sans", sans-serif;
      font-size: .8rem; }
    div.row div#listing-col.col div.card div.col-md-7 div.card-body h1#price.card-title {
      color: #000;
      font-size: 2rem !important;
      font-family: "Proza Libre", sans-serif;
      font-weight: bold; }
    div.row div#listing-col.col div.card div.col-md-7 div.card-body div#delivery {
      display: flex;
      margin-bottom: 3%; }
      div.row div#listing-col.col div.card div.col-md-7 div.card-body div#delivery span.card-text {
        margin: 0 .8rem .4rem 0;
        background-color: #250858;
        font-size: .8rem;
        color: #fff;
        padding: 0 6px; }
    div.row div#listing-col.col div.card div.col-md-7 div.card-body div#row-within-card.row div.col p.card-text {
      color: #000;
      font-family: "Open Sans", sans-serif;
      font-size: .8rem; }
    div.row div#listing-col.col div.card div.col-md-7 div.card-body div#more-details p.card-text {
      color: #000;
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
      font-weight: bold;
      margin-top: 2.5%; }
    div.row div#listing-col.col div.card div.col-md-7 div.card-body div#details-btn {
      margin-top: 5%; }
      div.row div#listing-col.col div.card div.col-md-7 div.card-body div#details-btn a.btn.btn-block {
        font-family: "Open Sans", sans-serif;
        color: #fff;
        background-color: #A400B4;
        border-color: #A400B4; }
