<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">CarLot</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <MatIcon Icon="home"></MatIcon> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="buses">
                <MatIcon Icon="directions_bus"></MatIcon> Buses
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="cars">
                <MatIcon Icon="directions_car"></MatIcon> Cars
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="motorcycles">
                <MatIcon Icon="directions_bike"></MatIcon> Motorcycles
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="suvs">
                <MatIcon Icon="airport_shuttle"></MatIcon> SUVs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="trucks">
                <MatIcon Icon="local_shipping"></MatIcon> Trucks
            </NavLink>
        </li>
        <hr />
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Identity/Account/Register">
                <MatIcon Icon="description"></MatIcon> Register
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Identity/Account/Login">
                <MatIcon Icon="account_box"></MatIcon> Login
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
