@page "/buses/filter/{busMake}"
@using CarLot.Models
@inject CarLot.Data.BusService busService

@foreach (var filterBus in Bus)
{ 
    <h1>@filterBus.Make</h1>
    <h1>@filterBus.Price</h1>
}



@code {
    public List<Bus> Bus { get; set; } = new List<Bus>();
    [Parameter]
    public string busMake { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Bus = await busService.GetBusByMakes(busMake);
    }
}
