@page "/motorcycles/filter/{motorcycleMake}"
@using CarLot.Models
@inject CarLot.Data.MotorcycleService motorcycleService

@foreach (var filterMotorcycle in Motorcycle)
{
    <h1>@filterMotorcycle.Make</h1>
    <h1>@filterMotorcycle.Price</h1>
}



@code {
    public List<Motorcycle> Motorcycle { get; set; } = new List<Motorcycle>();
    [Parameter]
    public string motorcycleMake { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Motorcycle = await motorcycleService.GetMotorcycleByMakes(motorcycleMake);
    }
}
