div.container main.pb-3 div div.row div.col-md-3 {
  margin-top: 5%;
  background-image: linear-gradient(180deg, #052767 0%, #3a0647 70%); }
  div.container main.pb-3 div div.row div.col-md-3 ul.nav.nav-pills.flex-column {
    border-radius: 6px 6px 6px 6px;
    height: 100%; }
    div.container main.pb-3 div div.row div.col-md-3 ul.nav.nav-pills.flex-column li.nav-item {
      padding-bottom: 0.5rem; }
      div.container main.pb-3 div div.row div.col-md-3 ul.nav.nav-pills.flex-column li.nav-item:hover {
        background-color: rgba(255, 255, 255, 0.25); }
      div.container main.pb-3 div div.row div.col-md-3 ul.nav.nav-pills.flex-column li.nav-item a.nav-link {
        color: #fff;
        font-family: "Proza Libre", sans-serif; }
      div.container main.pb-3 div div.row div.col-md-3 ul.nav.nav-pills.flex-column li.nav-item a.nav-link.active {
        background-color: rgba(255, 255, 255, 0.25); }
      div.container main.pb-3 div div.row div.col-md-3 ul.nav.nav-pills.flex-column li.nav-item a#profile.nav-link {
        margin-top: 2rem; }
