@import '../Global.scss';

div.container {
    main.pb-3 {
        div {
            div.row {
                div.col-md-9 {
                    margin-top: 5%;

                    h1 {
                        color: $black;
                        font-family: $heading-font;
                    }

                    div.row {
                        div.col-md-6 {
                            form#change-password-form {
                                div.form-group {
                                    label {
                                        color: $black;
                                        font-family: $text-font;
                                        text-transform: capitalize;
                                    }
                                }

                                button.btn {
                                    font-family: $text-font;
                                    border-color: $gray;
                                    color: $blue !important;
                                    background-color: $gray;

                                    &:hover {
                                        border-color: $gray;
                                        background-color: $gray;
                                        color: $blue;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
