div.container main.pb-3 div div.row div.col-md-9 {
  margin-top: 5%; }
  div.container main.pb-3 div div.row div.col-md-9 h1 {
    color: #000;
    font-family: "Proza Libre", sans-serif; }
  div.container main.pb-3 div div.row div.col-md-9 div.row div.col-md-6 form#change-password-form div.form-group label {
    color: #000;
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize; }
  div.container main.pb-3 div div.row div.col-md-9 div.row div.col-md-6 form#change-password-form button.btn {
    font-family: "Open Sans", sans-serif;
    border-color: #808080;
    color: #2767F3 !important;
    background-color: #808080; }
    div.container main.pb-3 div div.row div.col-md-9 div.row div.col-md-6 form#change-password-form button.btn:hover {
      border-color: #808080;
      background-color: #808080;
      color: #2767F3; }
