div.container main.pb-3 div div.row div.col-md-9 {
  margin-top: 5%; }
  div.container main.pb-3 div div.row div.col-md-9 h1 {
    color: #000;
    font-family: "Proza Libre", sans-serif; }
  div.container main.pb-3 div div.row div.col-md-9 div.row div.col-md-6 p {
    color: #4D4D4D;
    font-family: "Open Sans", sans-serif; }
  div.container main.pb-3 div div.row div.col-md-9 div.row div.col-md-6 form#download-data.form-group button.btn {
    font-family: "Open Sans", sans-serif;
    border-color: #808080;
    color: #2767F3 !important;
    background-color: #808080; }
    div.container main.pb-3 div div.row div.col-md-9 div.row div.col-md-6 form#download-data.form-group button.btn:hover {
      border-color: #e8e8e8;
      background-color: #e8e8e8;
      color: #2767F3; }
  div.container main.pb-3 div div.row div.col-md-9 div.row div.col-md-6 p a#delete.btn {
    font-family: "Open Sans", sans-serif;
    border-color: #808080;
    color: #2767F3 !important;
    background-color: #808080; }
    div.container main.pb-3 div div.row div.col-md-9 div.row div.col-md-6 p a#delete.btn:hover {
      border-color: #e8e8e8;
      background-color: #e8e8e8;
      color: #2767F3; }
