div.container main.pb-3 h1 {
  color: #000;
  text-transform: capitalize;
  font-family: "Proza Libre", sans-serif;
  margin-top: 5%;
  margin-bottom: 2.5%; }

div.container main.pb-3 div.row div.col-md-4 section form#account h4 {
  color: #000;
  text-transform: capitalize;
  font-family: "Proza Libre", sans-serif;
  margin-bottom: 5%; }

div.container main.pb-3 div.row div.col-md-4 section form#account div.form-group button.btn.btn-primary {
  background: #fff;
  color: #BFD3FF;
  border-color: #0366d6;
  font-family: "Open Sans", sans-serif; }
  div.container main.pb-3 div.row div.col-md-4 section form#account div.form-group button.btn.btn-primary:hover {
    background-color: #0366d6;
    color: #fff;
    border-color: #0366d6; }

div.container main.pb-3 div.row div.col-md-4 section form#account div.form-group p a {
  color: #000;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize; }
  div.container main.pb-3 div.row div.col-md-4 section form#account div.form-group p a:hover {
    color: #0366d6;
    text-decoration: none; }

div.container main.pb-3 div.row div.col-md-4 section form#account div.form-group div.checkbox label {
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  color: #000; }
